.alert-error {
  color: red;
}

#root {
  display: flex;
  background-color: white;
  flex-direction: column;
  font-size: 10px;
}
#root > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
}
#select {
  background-color: blue;
  margin-bottom: 10px;
  text-align: justify;
  width: 100%;
  font-size: 10px;
}
#myselect {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 10px;
}
#root #section1 {
  background-color: grey;
  margin-bottom: 10px;
  width: 85%;
  height: 50%;
}
#root #section2 {
  background-color: grey;
  width: 80%;
}
ul {
  list-style: none;
  border-bottom: 1px solid #aaa;

 }
 ul li {
   display: inline;
   margin-right: 5px;
}
ul li:last-child {
  float: right;
  background-color: white;
}


 /*for  Laptop */

  @media only screen and (min-width: 768px) {
        #root  {
          flex-direction: row;
      }
      #myselect {
        font-size: 15px;
      }
      #select {
                font-size: 15px;
      }
      #root #section2 {
        width: 100%;
      }
      #root #section1 {
        width: 100%;
      }